---
layout: default
---
<!-- _layouts/cv.html -->

<div class="post">

  <!-- ADD THIS HEADER BLOCK -->
  <header class="post-header">
    <h1 class="post-title">
      <!-- This is a comment {{ page.title }} -->
      <a
        href="{{ '../assets/pdf/Resume-5.pdf' | relative_url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="float-right"
      >
        <i class="fa-solid fa-file-pdf"></i>
      </a>
    </h1>
  </header>
  <!-- END HEADER BLOCK -->

  <!-- LEAVE THIS EXACTLY AS-IS -->
  <object
    data="../assets/pdf/Resume-5.pdf#pagemode=none"
    width="750"
    height="1000"
    type="application/pdf">
  </object>

</div>
